
@import "bootstrap/bootstrap.less";
@import "navbar.less";
@import "poem.less?6";

body {
	color: @gray;
}

input.invalid, select.invalid, textarea.invalid {
	border-color: #ee5f5b;
	&:focus {
		border-color: darken(#ee5f5b, 10%);
		@shadow: 0 0 6px lighten(#ee5f5b, 20%);
		.box-shadow(@shadow);
	}
}

.page-content {
	margin-top: 60px;
}

.well {
	background-color: white;
}

.form-horizontal {
	.buttons-row {
		text-align: center;
		margin-bottom: 20px;
	}
	.errors {
		margin-top: 5px;
	}
}
