
@color-gray:   #c8c8c8;
@color-yellow: #f8c015;

html, body {
  height: 100%;
}

.column-container {
  position: absolute;
  width: 100%;
  bottom: 0px;
  top: 80px;
  overflow-y: hidden;
  //padding-top: 20px;

  > .container {
    height: 100%;

    > .row {
      height: 100%;

      > div {
        padding-top: 20px;
        height: 100%;
        overflow-y: auto;
      }
    }
  }
}

.hide-light {
  display: none;
}

.navbar {
  background-image: url(../img/header_bg_gradient.png);
  background-repeat: repeat-x;
  height: 80px;
  border: none;
  padding-top: 15px;

  .navbar-brand {
    margin-top: -15px;

    .navbar-logo {
      padding-top: 3px;
      width: 180px;
      height: 47px;
    }
  }

  input[type=search] {
    border-radius: 20px;
    border: solid 2px @brand-primary;
    padding-left: 40px;
    background: white url(../img/icon_search.png) no-repeat 10px 5px;
    height: 40px;
    margin-top: -3px;
    width: 220px;
  }
}

::-webkit-input-placeholder {
  font-family: Arial;
  font-style: italic;
}
:-moz-placeholder {
  font-family: Arial;
  font-style: italic;
}
::-moz-placeholder {
  font-family: Arial;
  font-style: italic;
}
:-ms-input-placeholder {
  font-family: Arial;
  font-style: italic;
}

.nav-tabs {
  border-color: @brand-primary;

  > li {

    > a {
      &:hover, &:focus {
        background-color: @brand-primary;
        border-color: @brand-primary;
        color: white;
      }
    }

    &.active > a {
      &, &:hover, &:focus {
        color: white;
        background-color: @brand-primary;
        border-color: @brand-primary;
      }
    }
  }

  &.nav-right > li {
    float: right;
  }

  &.nav-small > li > a {
      padding: 3px 8px;
  }
}

h3, h4, h5, h6 {
  font-family: arial;
  font-weight: bold;
}

h3 {
  margin-bottom: 0;
}

.facebook-button {
  margin-top: 40px;
}


.record-now {
  padding-right: 45px;
  background: @brand-primary url(../img/icon_record_now.png) no-repeat right center;

  &:hover, &:active {
    background-color: darken(@brand-primary, 8%);
  }
}

.username {
  font-weight: bold;
}

.loading {
  min-height: 100px;
  background: url(../img/loader.gif) center no-repeat;
}

.icon {
  font-size: 150%;
  color: @brand-primary;
}

.more {
  border-top: solid 1px @brand-primary;

  span {
    cursor: pointer;
    float: right;
    background: @brand-primary url(../img/icon_more.png) no-repeat 50px 6px;
    font: 11px arial bold;
    padding: 2px 25px 3px 15px;
    color: white;

    &:hover {
      background-color: darken(@brand-primary, 8%);
    }
  }
}

.full-width {
  width: 100%;
}

.first-line {
  font-size: 12px;
  font-family: arial;
  font-style: italic;
}

h5.title {
  margin-bottom: 0;
}

.img-thumbnail.img-th-small {
  width: 50px;
}

.img-thumbnail.img-th-xs {
  width: 33px;
}


/** Icons **/

.btn-icon {
  .btn();
  .btn-xs();
  .btn-default();

  color: @brand-primary;

  &:hover,&:active {
    color: @brand-primary;
  }

  &.active-icon{
    .btn-primary();
    color: @btn-primary-color;
  }
}

textarea.poem-text-control {
  height: 350px;
}

.social-button {
  height: 40px;
  width: 200px;
  display: inline-block;
  color: #ffffff;
  border-radius: 2px;
  padding-top: 10px;
  padding-left: 27px;
  margin-bottom: 15px;
  cursor: pointer;

  &.facebook {
    background: #3B5998 url(../img/facebook.png) 4px 4px no-repeat;
  }

  &.googleplus {
    background: #D34836 url(../img/gplus.png) 4px 4px no-repeat;
  }

  &.twitter {
    background: #55ACEE url(../img/twitter.png) 4px 4px no-repeat;
  }

}
