.front-page {

  .tag-line {
    margin-top: 0;
    font-weight: normal;
  }

  .poem-info {
    height: 120px;
    overflow-y: hidden;

    .title {
      margin-bottom: 0;
    }

    .first-line {
      margin-top: 10px;
    }
  }

  .read-by {
    margin: 10px 0;
    padding: 5px 0;
    border-top: dashed 1px #c8c8c8;
    border-bottom: dashed 1px #c8c8c8;
  }

  .record-own {
    width: 100%;
  }

}
