.profile {
  .recitation {
    margin-top: 10px;
    margin-bottom: 10px;

    .thumbnail {
      .square(48px);
      margin-bottom: 0;
    }

    .info {
      margin-left: 10px;
      padding-top: 4px;

      .title {
        font-weight: bold;
      }
    }

    .actions {
      padding-top: 10px;
    }
  }
}
